button {
    color: white;
    background-color: blue;
    font-size: 20px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 10px;
  }
  
  button:hover {
    background-color: lightblue;
    color: black;
  }
  
  button:active {
    background-color: darkblue;
}